.topQuery-container {
  border: 1px solid #d8d8d8;
  padding: 10px 10px 5px 10px;
  margin: 7px 0 10px 0;
  font-weight: 600;
  margin-top: 29px;
}
.topsearch {
  font-size: 14px;
  margin: 0;
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}
.topqueryresult ul {
  padding-left: 0px;
  list-style: none;
  margin-top:29px;
}
.topqueryresult ul li a {
  font-size: 18px;
  color: #304a3d;
  text-decoration: none;
  cursor: pointer;
}

.no-results-div .topsearch {
  font-size: 14px;
  font-weight: bold;
}
.no-results-div .topQuery-container {
  border: 0;
  padding-left: 0;
}
.no-results-div .topQuery-container span{
  color:#004040;
  font-weight: 500;
  font-family: "gt-r";
    letter-spacing: -.01em;
    line-height: 1.125em;
    font-size: 29px;
    color:#004040;
}
.no-results-div .topqueryresult ul {
  list-style: none !important;
}
.no-results-div .topqueryresult ul li {
  display: inline-block;
  margin-right: 20px;
  /* border-radius: 35px; */
  border: 1px solid #e1e7e3;
  padding: 10px 20px;
  margin-top: 10px;
  transition: all .2s ease-in-out;
}

.no-results-div .topqueryresult ul li:hover {
  background-color:#304a3d;
}
.no-results-div .topqueryresult ul li:hover a{
  color: #fff;
}

.popular-searches {
  .fa-arrow-trend-up {
    margin-right: 10px;
    font-size: 12px;
  }
}
